@tailwind base;
@tailwind components;
@tailwind utilities;


.myNav{
  backdrop-filter: blur(15px);
}

.myBurgerMenu{
  transform-origin: right;
}

.image-container{
  overflow: hidden;
}

.my-image{
  transition: 0.4 ease-in-out
}

/* change picture size in its container */
.my-image:hover{
  transform: scale(1.07)
}
